{% extends "layout.html" %}

{% block title %}
    New_Entry
{% endblock %}

{% block main %}
<form action='/entry' method="POST" enctype=multipart/form-data>
    <div class='container-xl'>
        <!--First row -->
        <div class="row align-items-start">
            <!--specimen selection-->
            <div class="col ">
                <label for="specimen"><b>Specimen Type:</b></label>
                <select name="specimen" id="specimen" required>
                    <option selected disabled></option>
                    {% for x in specimens %}
                        <option value='{{ x.specimen }}'>{{ x.specimen }}</option>
                    {% endfor %}
                    <option value='new'>New Specimen</option>
                </select> 
            </div>
            <!--specimen checklist-->
            <div class="col">
                <b>Checklist:</b>
                <div id="checklist">  
                </div> 
                <br>
                <button type="button" class="btn btn-light">Add</button>
                <button type="button" class="btn btn-light">Remove</button>       
            </div>
            <!--save and submit buttons-->
            <div class="col -md-4 ms-auto">
                <input type="submit" class="btn btn-dark" value="Save and Exit">
                <input type="submit" class="btn btn-dark" value="Save">
                <input type="submit" class="btn btn-dark" value="Export">
            </div>
        </div>

        <br><br>
        <br><br>

        <!--second row -->
        <div class="row align-items-start">
            <!--gross text-->
            <div class="col">
                <b>Text:</b><br><br>
                <input type="file" name="file" id="input-file"/>
                <br>
                <input type="submit" id="submitButton" value="Analyze File"/>
                <br><br>
                <textarea id="gross" name="gross" rows="8" cols="70" required>{{description}}</textarea>
                {% if description != "" %}
                    <div id="speechTranscriptContainer">
                        
                        <!--<p id="speechText">{{ description }}</p>-->
                        <b>Highlights:</b>
                        <p id="speechAnalysis"> <pre>{{ t_analysis }}</pre></p>
                    </div>
                {% endif %}

            </div>
            <!--images-->
            <div >
                <p><b>Upload Image:</b></p>
                <input type="file"  id="image_upload" />
                
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // placeFileContent(document.getElementById('gross'),{{description|tojson}})
            
            // identify specimen dropdown
            let specimen = document.querySelector('#specimen');

            // identify file
            let textfile = document.getElementById('input-file');

            // see specimen change
            specimen.addEventListener('change', function() {
                // find checklist for new specimen
                let s = specimen.value;
                let temp = {{ specimens|tojson }};
                var x = [];
                for(var i = 0; i < temp.length; i++){
                    if (temp[i].specimen == s){
                        x = temp[i].checklist;
                    }  
                }
                
                let container = $(document.querySelector('#checklist'));
                // remove current checklist items
                container.empty();

                // add new list items
                for(var i = 0; i < x.length; i++){
                    $('<input />', { type: 'checkbox', id: i, value: x[i], required: true }).appendTo(container);
                    $('<label />', { 'for': i, text: x[i] }).appendTo(container);
                    $('<br>').appendTo(container)
                }
            });

            textfile.addEventListener('change', getFile)

            function getFile(event) {
                const input = event.target
                if ('files' in input && input.files.length > 0) {
                    placeFileContent(
                    document.getElementById('gross'),
                    input.files[0])
                }
            }

            function placeFileContent(target, file) {
                readFileContent(file).then(content => {
                target.value = content
                }).catch(error => console.log(error))
            }

            function readFileContent(file) {
                const reader = new FileReader()
                return new Promise((resolve, reject) => {
                    reader.onload = event => resolve(event.target.result)
                    reader.onerror = error => reject(error)
                    reader.readAsText(file)
                })
            }
        });

    </script>
{% endblock %}