{% extends "layout.html" %}

{% block title %}
    New_Entry
{% endblock %}

{% block main %}
<form action='/entry' method="POST">
    <div class='container-xl'>
        <!--First row -->
        <div class="row align-items-start">
            <!--specimen selection-->
            <div class="col ">
                <label for="specimen"><b>Specimen Type:</b></label>
                <select name="specimen" id="specimen" required>
                    <option selected disabled></option>
                    {% for x in specimens %}
                        <option value='{{ x.specimen }}'>{{ x.specimen }}</option>
                    {% endfor %}
                    <option value='new'>New Specimen</option>
                </select> 
            </div>
            <!--specimen checklist-->
            <div class="col">
                <b>Checklist:</b>
                <div id="checklist">  
                </div> 
                <br>
                <button type="button" class="btn btn-light">Add</button>
                <button type="button" class="btn btn-light">Remove</button>       
            </div>
            <!--save and submit buttons-->
            <div class="col -md-4 ms-auto">
                <input type="submit" class="btn btn-dark" value="Save and Exit">
                <input type="submit" class="btn btn-dark" value="Save">
                <input type="submit" class="btn btn-dark" value="Export">
            </div>
        </div>

        <br><br>
        <br><br>

        <!--second row -->
        <div class="row align-items-start">
            <!--gross text-->
            <div class="col">
                <textarea id="w3review" name="w3review" rows="8" cols="70" required>
                </textarea>
                <br><br>
            </div>
            <!--images-->
            <div >
                <p><b>Upload Image:</b></p>
                <input type="file"  id="image_upload" />
                
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // identify specimen dropdown
            let specimen = document.querySelector('#specimen');

            // see specimen change
            specimen.addEventListener('change', function() {
                // find checklist for new specimen
                let s = specimen.value;
                let temp = {{ specimens|tojson }};
                var x = [];
                for(var i = 0; i < temp.length; i++){
                    if (temp[i].specimen == s){
                        x = temp[i].checklist;
                    }  
                }
                
                let container = $(document.querySelector('#checklist'));
                // remove current checklist items
                container.empty();

                // add new list items
                for(var i = 0; i < x.length; i++){
                    $('<input />', { type: 'checkbox', id: i, value: x[i], required: true }).appendTo(container);
                    $('<label />', { 'for': i, text: x[i] }).appendTo(container);
                    $('<br>').appendTo(container)
                }
            });
        });

    </script>
{% endblock %}