{% extends "layout.html" %}

{% block title %} 
past entry
{% endblock %}

{% block main %} 

<div class='container-xl'>
    <h1>Past Entry</h1>
    <br>
    <p><b>ID:</b> 1 <br>
        <b>Specimen type:</b> test <br> 
        <b>Date:</b> 5 / 12 / 2021</p>
    <div class='row'>
        <div class='col'>
            <textarea id="gross" name="gross"  rows="8" cols="70" readonly></textarea>
            <b>Highlights:</b>
        </div>
        <div class='col'>
            <img src="/static/dan.jpg"  alt="Dan" height="200">
        </div>
    </div>
</div>
{% endblock %}
